[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
flask = "*"
elasticsearch = "*"
apscheduler = "*"
requests = "*"
elasticsearch-dsl = "*"
redis = "*"

[requires]
python_version = "3.8"
